### Ordinal Number Encoding Or Label Encoding

Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.

**For example:**

<li>Student's grade in an exam (A, B, C or Fail).</li>
<li>Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.</li>

When the categorical variables are ordinal, the most straightforward best approach is to replace the labels by some ordinal number based on the ranks.

In [1]:
import datetime
import pandas as pd

In [2]:
# get today's date time
today_date=datetime.datetime.today()
today_date

datetime.datetime(2020, 11, 15, 10, 12, 55, 730811)

In [3]:
# calculating differences in dates 
today_date - datetime.timedelta(4)

datetime.datetime(2020, 11, 11, 10, 12, 55, 730811)

In [4]:
#get fifteen days differences in dates
fifteen_days = [today_date - datetime.timedelta(x) for x in range(0,15)]
fifteen_days

[datetime.datetime(2020, 11, 15, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 14, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 13, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 12, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 11, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 10, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 9, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 8, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 7, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 6, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 5, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 4, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 3, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 2, 10, 12, 55, 730811),
 datetime.datetime(2020, 11, 1, 10, 12, 55, 730811)]

In [5]:
# turn into dataframe
fifteen_days = pd.DataFrame(fifteen_days)
fifteen_days.columns=['Day']
fifteen_days

                          Day
0  2020-11-15 10:12:55.730811
1  2020-11-14 10:12:55.730811
2  2020-11-13 10:12:55.730811
3  2020-11-12 10:12:55.730811
4  2020-11-11 10:12:55.730811
5  2020-11-10 10:12:55.730811
6  2020-11-09 10:12:55.730811
7  2020-11-08 10:12:55.730811
8  2020-11-07 10:12:55.730811
9  2020-11-06 10:12:55.730811
10 2020-11-05 10:12:55.730811
11 2020-11-04 10:12:55.730811
12 2020-11-03 10:12:55.730811
13 2020-11-02 10:12:55.730811
14 2020-11-01 10:12:55.730811

In [6]:
# get all week days names
fifteen_days['Weekday'] = fifteen_days['Day'].dt.day_name()
fifteen_days.head()

                         Day    Weekday
0 2020-11-15 10:12:55.730811     Sunday
1 2020-11-14 10:12:55.730811   Saturday
2 2020-11-13 10:12:55.730811     Friday
3 2020-11-12 10:12:55.730811   Thursday
4 2020-11-11 10:12:55.730811  Wednesday

In [7]:
# specify a number to each day using dictionary
dictionary = {'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
# map dictionary to weekday
fifteen_days['Weekday_ordinal'] = fifteen_days['Weekday'].map(dictionary)
fifteen_days.head()

                         Day    Weekday  Weekday_ordinal
0 2020-11-15 10:12:55.730811     Sunday                7
1 2020-11-14 10:12:55.730811   Saturday                6
2 2020-11-13 10:12:55.730811     Friday                5
3 2020-11-12 10:12:55.730811   Thursday                4
4 2020-11-11 10:12:55.730811  Wednesday                3

#### Ordinal Measurement Advantages

Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.

With Respect to Machine Learning

<li>Keeps the semantical information of the variable (human readable content)</li>
<li>Straightforward</li>

#### Ordinal Measurement Disadvantages

The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.

With Respect to Machine Learning

<li>Does not add machine learning valuable information</li>