### Target Guided Encoding

1. Ordering the labels according to the target
2. Replace the labels by the joint probability of being 1 or 0

In [13]:
import pandas as pd
df = pd.read_csv('titanic.csv', usecols=['cabin','survived'])
df.head()

   survived    cabin
0         1       B5
1         1  C22 C26
2         0  C22 C26
3         0  C22 C26
4         0  C22 C26

In [17]:
df['cabin'].replace('?','Missing', inplace=True)
df.head(20)

    survived    cabin
0          1       B5
1          1  C22 C26
2          0  C22 C26
3          0  C22 C26
4          0  C22 C26
5          1      E12
6          1       D7
7          0      A36
8          1     C101
9          0  Missing
10         0  C62 C64
11         1  C62 C64
12         1      B35
13         1  Missing
14         1      A23
15         0  Missing
16         0  B58 B60
17         1  B58 B60
18         1      D15
19         0       C6

In [20]:
df['cabin'] = df['cabin'].astype(str).str[0]
df.head()

   survived cabin
0         1     B
1         1     C
2         0     C
3         0     C
4         0     C

In [21]:
df['cabin'].unique()

array(['B', 'C', 'E', 'D', 'A', 'M', 'T', 'F', 'G'], dtype=object)

In [22]:
df.groupby(['cabin'])['survived'].mean()

cabin
A    0.500000
B    0.723077
C    0.606383
D    0.695652
E    0.731707
F    0.619048
G    0.600000
M    0.302761
T    0.000000
Name: survived, dtype: float64

In [28]:
ordinal_labels = df.groupby(['cabin'])['survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'D', 'B', 'E'], dtype='object', name='cabin')

In [29]:
ordinal_cabin_labels = {k: i for i, k in enumerate(ordinal_labels, 0)}
ordinal_cabin_labels

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'D': 6, 'B': 7, 'E': 8}

In [31]:
df['Ordinal_Cabin_Labels'] = df['cabin'].map(ordinal_cabin_labels)
df.head()

   survived cabin  Ordinal_Cabin_Labels
0         1     B                     7
1         1     C                     4
2         0     C                     4
3         0     C                     4
4         0     C                     4

<li>We have applied one hot Encoding on cabin feature based on target feature.</li>